@font-face {
  font-family: "KdamThmorPro";
  src: url("../fonts/KdamThmorPro-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --header-height: 3.5rem;

  --first-color: hsl(14, 98%, 50%);
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);

  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 4rem 2rem;
}
.section_title-1,
.section_title-2 {
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: 0.75rem auto 2rem;
}
.section_title-1 span,
.section_title-2 span {
  z-index: 5;
  position: relative;
}
.section_title-1::after,
.section_title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: hsla(14, 98%, 50%, 0.2);
  position: absolute;
  top: -4px;
  right: -8px;
}
.section_title-2::after {
  top: initial;
  bottom: -4px;
}

.main {
  overflow: hidden; /*for animation ScrollReveal i dont know why he put that i will have to search it*/
}

/* ================ HEADER ================ */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  transition: box-shadow 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gdnlogo img {
  width: 125px;
  height: auto;
}

.nav_toggle {
  width: 32px;
  height: 32px;
  background-color: var(--black-color);
  display: grid;
  place-items: center;
}

.nav_close {
  display: inline-flex;
}

@media screen and (max-width: 1150px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    width: 100%;
    padding-block: 1.8rem 5rem;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: top 0.4s;
  }
}

.nav_title,
.nav_name {
  color: var(--white-color);
}

.nav_title {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-bold);
  margin: 3.5rem;
}

.nav_name {
  position: relative;
  width: max-content;
  margin: 0 auto 3rem;
  font-size: var(--h2-font-size);
}

.nav_name::after,
.nav_name::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--text-color-light);
  position: absolute;
  top: 50%;
  left: -4rem;
}

.nav_name::before {
  left: initial;
  right: -4rem;
}

.nav_list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav_link {
  position: relative;
  color: var(--text-color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  transition: color 0.3s;
}

.nav_link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_link:hover::after {
  width: 25%;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

/* ================ HOME ================ */

.home_container {
  padding-top: 2rem;
}

.home_name {
  font-family: "KdamThmorPro";
  font-size: var(--biggest-font-size);
  text-align: center;
}

.home_perfil {
  position: relative;
  justify-self: center;
}

.home_image {
  width: 220px;
  justify-self: center;
}

.home_image::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  border-bottom: 10px solid var(--black-color);
  border-right: 10px solid var(--black-color);
  right: 170px;
  bottom: 40px;
}
.home_image::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  border-top: 10px solid var(--black-color);
  border-left: 10px solid var(--black-color);
  left: 170px;
  top: -40px;
}

.home_description {
  text-align: center;
}
