@font-face {
  font-family: "KdamThmorPro";
  src: url("../fonts/KdamThmorPro-Regular.woff2") format("woff2");
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --header-height: 3.5rem;

  --first-color: hsl(41, 53%, 55%);
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);

  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.9rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.8rem;
  --small-font-size: 0.7rem;
  --smaller-font-size: 0.5rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 4rem 2rem;
}
.section_title-1,
.section_title-2 {
  font-family: "KdamThmorPro";
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: 0.75rem auto 2rem;
}
.section_title-1 span,
.section_title-2 span {
  z-index: 5;
  position: relative;
}
.section_title-1::after,
.section_title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: hsla(41, 53%, 55%, 0.3);
  position: absolute;
  top: -4px;
  right: -8px;
}
.section_title-2::after {
  top: initial;
  bottom: -4px;
}

.main {
  overflow: hidden; /*for animation ScrollReveal i dont know why he put that i will have to search it*/
}

/* ================ HEADER ================ */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  transition: box-shadow 0.4s;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gdnlogo img {
  width: 125px;
  height: auto;
}

.nav_toggle {
  width: 32px;
  height: 32px;
  background-color: var(--black-color);
  display: grid;
  place-items: center;
}

.nav_close {
  display: inline-flex;
}

@media screen and (max-width: 1150px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    width: 100%;
    padding-block: 1.8rem 5rem;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: top 0.4s;
  }
}

.nav_title,
.nav_name {
  color: var(--white-color);
}

.nav_title {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-bold);
  margin: 3.5rem;
}

.nav_name {
  position: relative;
  width: max-content;
  margin: 0 auto 3rem;
  font-size: var(--h2-font-size);
}

.nav_name::after,
.nav_name::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--text-color-light);
  position: absolute;
  top: 50%;
  left: -4rem;
}

.nav_name::before {
  left: initial;
  right: -4rem;
}

.nav_list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav_link {
  position: relative;
  color: var(--text-color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  transition: color 0.3s;
}

.nav_link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_link:hover::after {
  width: 25%;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, 0.12);
}

.active_link {
  color: var(--white-color);
}
.active_link::after {
  width: 25%;
}

/* ================ HOME ================ */

.home_container {
  padding-top: 2rem;
  display: grid;
  row-gap: 4.5rem;
}

.home_name {
  font-family: "KdamThmorPro";
  text-align: center;
}

.home_perfil {
  position: relative;
  justify-self: center;
  display: grid;
  row-gap: 4.5rem;
}

.image_shadow {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.home_image {
  width: 150px;
  justify-self: center;
}

.home_image::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  border-bottom: 6px solid var(--black-color);
  border-right: 6px solid var(--black-color);
  right: -40px;
  bottom: -40px;
}
.home_image::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  border-top: 6px solid var(--black-color);
  border-left: 6px solid var(--black-color);
  left: -40px;
  top: -40px;
}

.home_social {
  height: max-content;
  position: absolute;
  bottom: 0;
  left: -52px;
  margin: auto 0;
  display: grid;
  row-gap: 1rem;
}

.home_social img {
  width: 20px;
  height: 20px;
}

.home_social-link {
  background-color: var(--black-color);
  padding: 6px;
  display: grid;
  place-items: center;
  transition: background-color 0.3s;
}

.home_social-link:hover {
  background-color: var(--first-color);
}

.home_info {
  margin-top: 2.5rem;
}

.home_description {
  max-width: 300px;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.home_description b {
  font-family: "KdamThmorPro";
  background: linear-gradient(
    90deg,
    hsla(41, 53%, 55%, 0.4),
    hsla(41, 53%, 55%, 0)
  );
}

b.code,
b.design {
  background: none;
}

.home_scroll {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.home_scroll-text {
  display: none;
}

.home_scroll-box {
  background-color: var(--black-color);
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: backgroud-color 0.4s;
}

.home_scroll-box img {
  width: 20px;
  animation: scroll-down 3s infinite;
}
@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}

/* ================ ABOUT ================ */

.about_section {
  background-color: var(--container-color);
  transition: background-color 0.4s;
}

.about_container {
  row-gap: 0rem;
}

.about_perfil {
  position: relative;
  justify-self: center;
  margin-block: 2.5rem 4.5rem;
}

.image_background {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.about_image {
  margin: 0 auto;
}

.about_img {
  position: relative;
  width: 138px;
  border: 4px solid var(--white-color);
  z-index: 1;
}

.about_shadow,
.about_line,
.about_box {
  position: absolute;
}

.about_shadow {
  width: 91px;
  height: 259px;
  background-color: var(--body-color);
  top: -2.5rem;
  right: -2.5rem;
  border-bottom: 4px solid var(--black-color);
  transition: background-color 0.4s;
}

.about_line {
  right: -2.25rem;
  top: 2rem;
  width: 58px;
}

.about_box {
  width: 50px;
  height: 50px;
  background-color: var(--black-color);
  right: -0.5rem;
  bottom: 1.5rem;
}

.about_info {
  max-width: 200px;
  padding-left: 1.25rem;
  display: grid;
  row-gap: 2rem;
}

.about_description {
  position: relative;
  color: var(--title-color);
  margin-top: 6rem;
}

.about_description b,
.about_item b {
  font-family: "KdamThmorPro";
}

.about_description::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: var(--title-color);
  position: absolute;
  left: -1.75rem;
  top: 0.6rem;
}

.about_list {
  list-style: square;
  color: var(--title-color);
  margin-bottom: 3rem;
}

.about_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.button,
.button_ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.button {
  background-color: var(--black-color);
  padding: 1.1rem 1.5rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: background-color 0.4s;
}

.button:hover {
  background-color: var(--first-color);
}

.button_ghost {
  border: 3px solid var(--black-color);
  padding: 0.5rem;
  transition:
    border 0.4s,
    color 0.4s;
}

.button_ghost:hover {
  border: 3px solid var(--first-color);
}

/* ================ ABOUT ================ */

.services_container {
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 2rem;
  padding-top: 1rem;
}

.services_card {
  position: relative;
  display: inline-flex;
  justify-self: center;
}

.services_content {
  height: 250px;
  width: 200px;
  background-color: var(--body-color);
  border: 4px solid var(--black-color);
  padding: 3rem 2rem 3rem;
  z-index: 5;
  position: relative;
  transition:
    background-color 0.4s,
    border 0.4s;
}

.services_border {
  position: absolute;
  border: 4px solid var(--first-color);
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.4s;
}

.services_card:hover .services_border {
  transform: translate(0.75rem, 0.75rem);
}

.services_icon {
  position: relative;
  display: inline-flex;
}

.services_icon img {
  width: 19px;
  z-index: 5;
}

.services_box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--first-color);
  right: -12px;
  top: -10px;
}

.services_title {
  font-family: "KdamThmorPro";
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
}

.services_description {
  font-size: var(--smaller-font-size);
  max-width: 120px;
}

/* ================ PROJECTS ================ */

.projects {
  background-color: var(--container-color);
  transition: background-color 0.4s;
}

.projects_container {
  row-gap: 2rem;
  grid-template-columns: 250px;
  justify-content: center;
}

.projects_card {
  padding: 1rem 1rem 2rem;
  transition: background-color 0.4s;
}

.projects_image {
  position: relative;
  margin-bottom: 0.75rem;
}

.projects_button {
  position: absolute;
  right: 1rem;
  padding: 0.5rem;
}

.projects_button img {
  width: 22px;
  height: 22px;
}

.projects_content {
  margin-bottom: 1.25rem;
}

.projects_title {
  font-family: "KdamThmorPro";
}

.projects_subtitle {
  position: relative;
  display: inline-block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  margin-bottom: 0.75rem;
  padding-left: 1.75rem;
}

.projects_description {
  max-width: 159px;
  height: auto;
  font-size: var(--smaller-font-size);
}

.projects_subtitle::after {
  content: "";
  width: 20px;
  height: 2px;
  background: var(--text-color);
  position: absolute;
  top: 50%;
  left: 0;
}

.projects_buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.projects_link {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: color 0.4s;
}

.projects_link img {
  width: 12px;
  height: 12px;
}

.projects_link:hover {
  color: var(--first-color);
}

.projects_card:hover {
  background-color: var(--white-color);
}

/* ================ CONTACTS ================ */

.contact {
  padding-bottom: 0;
}

.contact_container {
  position: relative;
  grid-template-rows: 300px max-content max-content;
  row-gap: 0;
}

.contact_data {
  position: relative;
  width: 250px;
  height: 300px;
  background-color: hsla(41, 53%, 55%, 0.3);
  padding: 1.5rem 1.5rem 1.5rem;
  margin-left: auto;
  border-bottom: 4px solid var(--white-color);
  z-index: 5;
  transition: background-color 0.4s;
}

.contact_data .section_title-2 {
  margin: 0 0 1.5rem;
  transform: translateX(-3rem);
}

.contact_description-1 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}

.contact_description-1,
.contact_description-2 {
  max-width: 190px;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.contact_mail {
  position: relative;
  background-color: var(--black-color);
  padding: 5rem 1.5rem 2.5rem;
  margin-top: -2.5rem;
  transition: background-color 0.4s;
}

.contact_title {
  font-family: "KdamThmorPro";
  color: var(--white-color);
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
  text-align: center;
}

.contact_form,
.contact_group {
  display: grid;
  row-gap: 1.25rem;
}

.contact_form {
  position: relative;
}

.contact_box {
  position: relative;
  width: 250px;
  height: 58px;
}

.contact_input,
.contact_button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
}

.contact_input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  border: 3px solid var(--black-color-light);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  font-weight: var(--font-medium);
  transition:
    border 0.4s,
    background-color 0.4s;
  resize: none;
}

.area_input {
  padding: 1rem 1rem;
}

.contact_input::placeholder {
  color: var(--text-color-light);
  transition: opacity 0.4s;
}

.contact_input:focus {
  border: 3px solid var(--white-color);
}

.contact_input:-webkit-autofill {
  transition:
    background-color 6000s,
    color 6000s;
}

.contact_label {
  position: absolute;
  top: 15px;
  left: 10px;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  background-color: var(--black-color);
  padding: 8px;
  pointer-events: none;
  transition:
    top 0.4s,
    opacity 0.4s,
    background-color 0.4s;
  opacity: 0;
}

.contact_form .contact_area {
  height: 10rem;
}

.contact_button {
  width: 250px;
  background-color: var(--first-color);
  cursor: pointer;
}

.contact_input:focus::placeholder {
  opacity: 0;
}

.contact_input:focus + .contact_label,
.contact_input:not(:placeholder-shown).contact_input:not(:focus)
  + .contact_label {
  opacity: 1;
  top: -16px;
}

.contact_social-link img {
  display: inline-flex;
}

.contact_social {
  display: grid;
  row-gap: 1rem;
  background-color: hsl(0, 0%, 10%);
  padding-block: 1rem 2rem;
  text-align: center;
}

.contact_social-data {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.contact_social-description {
  max-width: 250px;
  color: var(--white-color);
  font-weight: var(--font-medium);
  justify-self: center;
}

.contact_social-links {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.contact_social-link {
  background-color: var(--black-color-light);
  padding: 6px;
  color: var(--white-color);
  font-size: 1.25rem;
  display: grid;
  place-items: center;
  transition: background-color 0.3s;
}

.contact_social-link:hover {
  background-color: var(--first-color);
}

.contact_message {
  color: var(--white-color);
  font-size: var(--small-font-size);
  position: absolute;
  bottom: -1.6rem;
  left: 0;
}

/* ================ FOOTER ================ */

.footer {
  background-color: var(--black-color);
}

.footer_container {
  padding-block: 3rem 2rem;
  row-gap: 2rem;
}

.footer_links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer_link {
  color: var(--white-color);
  transform: color 0.4s;
}

.footer_link:hover {
  color: var(--text-color-light);
}

.footer_copy {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

.footer_copy a {
  color: var(--white-color);
  font-weight: var(--font-medium);
}

/* ================ SCROLLBAR ================ */

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 55%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 45%);
}

.scrollup img {
  width: 20px;
  height: 20px;
}

.scrollup {
  position: fixed;
  right: 0.05rem;
  bottom: -50%;
  background-color: var(--black-color);
  display: inline-flex;
  padding: 4px;
  font-size: 1.25rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition:
    bottom 0.4s,
    transform 0.4s,
    background-color 0.4s;
}

.scrollup:hover img {
  transform: translateY(-0.25rem);
  transition: transform 0.4s;
}
.show-scroll {
  bottom: 0;
  right: 0;
}
